extends base.pug
block content
  p Zarejestruj się!
  each err in context.errors 
    p(class='error')=err
  form(action='' method='POST')
    label(for='first_name') First name
    br
    div
      input#first_name(type='text' name='first_name' value=context.form.first_name)
      br
    label(for='last_name') Last name
    br
    div
      input#last_name(type='text' name='last_name' value=context.form.last_name)
      br
    label(for='email') Email
    br
    div
      input#email(type='email' name='email' value=context.form.email)
      br
    label(for='password') Hasło
    br
    div
      input#password(type='password' name='password' value=context.form.password)
      br
    label(for='password_conf') Potwierdź hasło
    br
    div
    input#password_conf(type='password' name='password_conf' value=context.form.password_conf)
    br
    button#rezerwuj(type='submit' name='signIn') Sign in